<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/pages/login/login.css">
</head>
<body>
<div class="login-form">
    <form method="post">
        <h1>PaySwap</h1>
        <div class="notice notice--alert"></div>
        <div class="content">
            <div class="input-field">
                <input type="text" placeholder="Email" name="email">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" name="password">
            </div>
            <ul class="form-options">
                <li><a href="/register" class="form-options__item link">Sign Up</a></li>
                <p class="form-options__seperator">•</p>
                <li><a href="" class="form-options__item link">Forgot Password?</a></li>
            </ul>
        </div>
        <div class="sign">
            <button id="in-log-in">Log in</button>
        </div>
    </form>
    <script src="/pages/login/login.js"></script>
</div>
</body>
</html>
