<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <link rel="stylesheet" href="/pages/login/login.css">
</head>
<body>
<div class="login-form">
    <form method="post">
        <h1>PaySwap</h1>
        <div class="content">
            <div class="input-field">
                <input type="text" placeholder="Username" name="username">
            </div>
            <div class="input-field">
                <input type="password" placeholder="Password" name="password">
            </div>
            <a href="" class="link">Forgot Password?</a>
        </div>
        <div class="sign">
            <button>Sign Up</button>
            <button>Log in</button>
        </div>
    </form>
    <script src="/pages/login/login.js"></script>
</div>
</body>
</html>
