<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>login page</title>
    <link rel="stylesheet" href="/pages/login/login.css">
</head>
<body>
        <h2>Sign in to PaySwap</h2>
        <div class="box box-two">
          <form method="post">
              <div class="input-field">
                  <input type="text" placeholder="Username" name="username">
              </div>
              <div class="input-field">
                  <input type="password" placeholder="Password" name="password">
          </form>
          <button class="login">Login</button>
          <button>Forgot password</button>
        </div>
        <p>Don't have an account <a href="#">Sign Up</a></p>
      </div>
    <script src="/pages/login/login.js"></script>
</div>
</body>
</html>
