<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="pages/index/index.css">
</head>
<body>

<div class="topnav">
  <a class="active" href="Home">Home</a>
  <a href="About">About</a>
  <a href="Contact">Contact</a>
  <div class="search-container">
      <input type="text" placeholder="Search..." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div style="padding-left:16px">
  <h1>bkajffjksdnfnkldsdsfkn</h1>
  <p>sjnkRGknslvdnlksRnrwg;nrgKWNRWnrvvnslr</p>
</div>

</body>

<footer> @PaySwap Productions </footer>
</html>
