<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Payswap</title>
  <style>
    * {
      font-family: system-ui;
    }

    .u-capitalize {
      text-transform: uppercase;
    }

    .u-text-center {
      text-align: center;
    }
  </style>
</head>
<body>
  <h1 class="u-capitalize u-text-center">Payswap</h1>
  <script src="/pages/index/index.js"></script>
</body>
</html>