* {
    font-family: system-ui;
}

body {
    background: #002767;
}

.login-form {
    background: #ffffff;
    width: 700px;
    margin: 65px auto;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
    padding-left: 35px;
    font-weight: 400;
}
.login-form .content {
    padding: 12px 35px;
    text-align: center;
}
.login-form .input-field {
    padding: 12px 5px;
}
.login-form .input-field input {
    font-size: 16px;
    display: block;
    width: 100%;
    padding: 10px 1px;
}
.login-form .input-field input::-webkit-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
    text-transform: uppercase;
}
.login-form .input-field input::placeholder {
    text-transform: uppercase;
}
.login-form .sign {
    display: -webkit-box;
    display: flex;
    flex-direction: row;
}
.login-form .sign button {
    width: 100%;
    border: none;
    padding: 18px;
    text-transform: uppercase;
    background: #e8e9ec;
    color: #4650ec;
    border-bottom-left-radius: 4px;
}
.login-form .sign button:hover {
    background: #3c4d6d;
}
.login-form .sign button:nth-child(2):hover {
    background: #3c4d6d;
}
